body {
	text-align: center;
	background-color: #be97da;
}

header {
	font-size: 3em;
	border-style: solid;
	border-radius: 40%;
	margin: 2%;
	color: #272941;
}

/* For building divs*/
.building {
	background-color: #457689;
	border-color: black;
	border-style: double;
	border-width: 7;
	color: #9ad0c4; 
	max-width: 90%;
	display: inline-block;
	margin: 2%;
	padding-left: 5%;
	padding-right: 5%;
}

.washers {
	display: flex;
	flex-wrap: wrap;
}

.t {
	background-color: green;
}

.f {
	background-color: red;
}

.inactive {
	display: none !important;
}

/* For washer divs */
.t , .f {
	min-width: 10%;
	margin: 2%;
	padding: 1%;
	border-radius: 10%;
}

@media (max-width: 500px) {

	h1 {
		font-size: 2em;
	}
}